<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Admin Dashboard</title>
</head>
<body class="second">
    <h1>Добро пожаловать, Admin!</h1>
    <% if (problems && problems.length > 0) { %>
        <p>
        <table>
            <thead>
                <tr>
                    <th>ФИО клиента</th>
                    <th>Телефонный номер клиента</th>
                    <th>Описание проблемы</th>
                    <th>Мастер для решения</th>
                    <th>Подтверждение</th>
                </tr>
            </thead>
    
            <tbody>
                <% problems.forEach((problem, index) => { %>
                    <tr>
                        <td><%= clientsInfo[index].fullname %></td>
                        <td><%= clientsInfo[index].phone %></td>
                        <td class="problem-description"><%= problem.description %></td>
                        
                        <form action="/assignmaster" method="post">
                        <td>
                            <select name="master_id" required>
                                <option value="" disabled selected>Select Master</option>
                                <% masters.forEach(master => { %>
                                  <option value="<%= master.user_id %>"><%= master.user_login %></option>
                                <% }); %>
                            </select>
                        </td>
                        <td><button class="second" type="submit" name="problem_id" value="<%= problem.problem_id %>">-></button></td>
                    </form>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        </p>
        <% } else { %>
            <p>Заявленные проблемы отсутствуют</p>
        <% } %>
        <form action="/logout">
            <p><button class="first">Выйти</button></p>
        </form>
</body>
</html>